.skills {
    padding: 0 0 50px 0;
    position: relative;
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
}

.skill-box {
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
}

.skills h2 {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
}

.skills p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

.skills h5 {
    color: #fff;
}

.skills-slider {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.skills-slider .item img {
    width: 50%;
    margin: 0 auto 15px auto;
}

.bg-image {
 top: 28%; 
 position: absolute;
 bottom: 0;   
 width: 40%;
 z-index: -4;
}